@import 'src/styles/variables';

.welcome {
  margin-top: 0;
  padding-top: 60px;
  height: 100vh;
  min-height: 550px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  &--background {
    z-index: -10;
  }

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & > .container {
    background-color: $color-background4;
  }

  &--title {
    width: 80%;
    text-align: left;

    &-red {
      color: $color-red;
    }
  }

  &--buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin: 2rem 0 1rem;
  }
}

// ************ 800px < width < 1000px ************
@media (max-width: 1000px) {
  .welcome {
    padding-top: 50px;
  }
}

// ************ 500px < width < 800px ************
@media (max-width: 800px) {
  .welcome {
    .container {
      width: 90vw;
      margin: 0 auto;
    }
  }
}

// ************ width < 500px ************
@media (max-width: 500px) {
  .welcome {
    height: fit-content;
    padding: 15vh 0 calc(15vh - 50px);

    & .container {
      padding: 2.5rem 1.5rem;
    }

    &--buttons {
      flex-direction: column;
    }

    &--title {
      line-height: 1.2em;
    }

    & .title_h2 {
      padding: 2rem 0;
    }
  }
}
